streamlit>=1.30.0
Flask>=2.0.0
pandas>=2.0.0
requests>=2.0.0
torch>=2.0.0 --extra-index-url https://download.pytorch.org/whl/cpu
torchrec>=0.4.0 --extra-index-url https://download.pytorch.org/whl/cpu
beautifulsoup4>=4.0.0
numpy>=1.0.0
